ANTHROPIC_API_KEY=your_key_here
DATABRICKS_HOST=dbc-871ad75e-3eed.cloud.databricks.com
DATABRICKS_HTTP_PATH=/sql/1.0/warehouses/d490a228b5b077b3
DATABRICKS_CLIENT_ID=c64d727a-d345-4f35-b4ed-1865eede9d7b
DATABRICKS_CLIENT_SECRET=your_secret_here
